<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Max Eskell's journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/army.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003-2015</h4>
                                    <h4 class="subheading">Leading in the British Army</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leading teams of exceptional people all over the world.  I have lead teams of thirty highly trained bomb-disposal specialists and managed day-to-day operations for organisations as large as 600 people. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wbs.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Learning the basics of business during an MBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied an Executive MBA at one of the worlds top business schools, where I specialised in strategy, leadership and decision-making.  My dissertation on decision-making in the British Army was read by the Head of the Army and was used to inform the latest leadership thinking.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/McKinsey.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Advising on finance and technology at McKinsey</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at McKinsey, I advised some of the worlds top companies on revenue growth and cost reduction.  Over time, I specialised providing  Digital Strategy/Product development guidance to some of the UK's and worlds top banks and payment institutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May-July 2017</h4>
                                    <h4 class="subheading">Learning to code at General Assembly</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I took three months out to learn full-stack development. I learnt how to program and also the details of programming.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <br>
                                <h4>Now?</h4>
                                <br>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - ? </h4>
                                    <h4 class="subheading">Building a bank with Zopa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Business, digital, technology</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
