<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Max Eskell's journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/army.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003-2015</h4>
                                    <h4 class="subheading">Leading in the British Army</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leading teams teams of exceptional people all over the world</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wbs.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Learning the basics of business during an MBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studied an Executive MBA at one of the worlds top business schools, specalised in strategy, leadership and decision-making</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/McKinsey.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Advising on finance and technology at McKinsey</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Advised some of the worlds top companies on revenue growth and cost redution.  Specalised in digital finance, digital product development and building agile environments</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May-July 2017</h4>
                                    <h4 class="subheading">Learning to code at General Assembly</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Took three months out to learn full-stack development</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <br>
                                <h4>Now?</h4>
                                <br>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - ? </h4>
                                    <h4 class="subheading">Building a bank with Zopa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">business, degitial, technology</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
