<!-- Hardskills Aside -->
<section id="clients">
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hard skills</h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/angular.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/js.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/ecma.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/nodejs.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/r.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/ruby.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/sql.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#"><img src="img/logos/sass.png" class="img-responsive img-centered" alt="" height="75" width="75"></a>
        </div>
      </div>
    </div>
  </div>
</aside>
</section>
